<form 
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['marca'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control"	id="nombre"	placeholder="Ingrese el nombre del Articulo" 
        [formControl]="toFormControl(fg.controls['nombre'])">
        <!--
        <div *ngIf="!fg.controls['nombre'].valid">Nombre Invalido</div>
        -->
        <ul *ngIf="fg.controls['nombre'].value.length > 1">
            <li *ngFor="let resultado of searchResults;"> {{resultado}} </li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Debe tener al menos {{minLongitud}} de largo</div>
        
    </div>
    <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control"	id="marca" placeholder="Ingrese la Marca" 
        [formControl]="toFormControl(fg.controls['marca'])">
        <div *ngIf="fg.controls['marca'].hasError('required')">Marca requerida</div>
    </div>
    <button	type="submit" class="btn btn-primary" *ngIf="fg.valid">Agregar</button>
</form>