<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor"	id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Lista de Compras</h3>
                </div>
                <div class="card-body">
                    <app-formulario-articulo (onItemsAdded)="agregado($event)"></app-formulario-articulo>
            </div>
        </div>
    </div>
</div>
<hr	class="mb-5">
    <div class="d-flex flex-wrap">
        <app-articulo-card 
            class="col-md-4" 
            *ngFor="let articulo of all, let i=index" 
            [articulo]="articulo"
            [idx]="i+1"
            (clicked)="elegido($event)"
            >
        </app-articulo-card>
    </div>

<hr	class="mb-5">
    <div class="row">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let updt of updates;">{{updt}}</li>
        </ul>
    </div>
</div>