<div>
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/640/480/tech" alt="">
            <span><h4>{{ position }}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{articulo.marca}}</h3>
            <p>Servicios</p>
            <ul>
                <li *ngFor="let car of articulo.caracteristicas">
                    <span [ngSwitch]="car">
                        <i *ngSwitchCase="'Economico'" style="color: blueviolet;"> {{car}}</i>
                        <i *ngSwitchDefault> {{car}} </i>
                    </span>
                </li>
            </ul>
            <div class="row">
                <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
                <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
                {{articulo.votes}}
            </div>
            <a href="#" class="btn-card" (click)="go()">Ver</a>
            <span *ngIf="articulo.isSelected()"> 
                <span ngNonBindable> FAVORITO </span>
            </span>
            <div class="d-flex">
                <a class="btn-card" [routerLink]="['/articulo']"> Ver Detalle</a>
            </div>
        </div>
    </div>
</div>