<div class="container content">

  <div class="page-header">
    <div class="container">
      <h1>Routeo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home | </a>
        <a [routerLink]="['/articulo']"> Articulo</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h1> {{ title }} </h1>
  </div>
  <!-- Importamos el componente destino-viaje usando su selector -->
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}